$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "../styles/offcanvas.css";
@import "../styles/owl.carousel.css";
@import "../styles/owl.theme.css";
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,100,700&subset=latin,cyrillic);


$black: #282b2f;
$btn-color: rgb( 53, 176, 103 );
$white: #fff;
$submenu-bg: #e5f0f0;
$open-bg: #a5a5a5;
$nav: #adb4b4;
$menu-font: 16px;
$exo: 'Exo 2', sans-serif;
$sans: 'PT Sans', sans-serif;
$br: rgb( 238, 238, 238 );
$red: #990000;
$exo12: 12px;
$exo14: 14px;
$exo18: 18px;
$exo15: 15px;
$sans12: 12px;
$sans14: 12px;


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


html, body { height: 100%; }
body { padding: 152px 0 0 0; font-family: $exo; }

.navbar-toggle {
  float: left;
//  margin-left: 15px;
//  margin-right: 0;
    margin: 0;
  padding: 30px 0 0 15px;
}

.logo {padding: 19px 0;display: inline; width: 184px;margin-left: -35px;}
.navmenu  {background: $black; padding-top: 23px; }
.navmenu-default .navmenu-nav>li>a { color: $white; letter-spacing: 1px; }
.navmenu-default .navmenu-nav>li>a:hover { color: $red; }
.navbar.main {background: #fff;border: 0;min-height: 92px;margin: 0;}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{border: 0;background: none;}
.navmenu-default .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:hover{
    background: none;
    color: $red;
	font-weight: 700;
}

.navbar.submenu {
    top: 88px;
    background: $submenu-bg;
}

.nav.navmenu-nav hr {
	padding-bottom: 1px;
	background-color: #131416;
	border-bottom:1px solid #3e434a;
	border-top: none;
	margin: 6px auto;
	width: 183px;
}

.reg { padding: 17px;
	& .enter { background: $btn-color; color: #fff }
	& .register { background: none; border: 2px solid #fff; color: #fff;  }
}
.reg button {
	display: block;
	border-radius: 50px;
	border: none;
	width: 126px;
	height: 29px;
	margin-bottom: 15px;
	font-size: $exo12;
}

.header-pic {border-radius: 4px;}

.open-menu{height:40px; width:24px; display:block; position:relative;}


.open-menu:before {
    content: '';
    height: 4px;
    width: 24px;
    background: $open-bg;
    display: block;
    position: absolute;
    top: 5px; left: 0;
    box-shadow: 0 7px $open-bg, 0 14px $open-bg;
    -webkit-box-shadow: 0 7px $open-bg, 0 14px $open-bg;
    -moz-box-shadow: 0 7px $open-bg, 0 14px $open-bg;
}

.rep {
    position: absolute;
    top: 18px;left:-2px;
    display: none;
}

.glyphicon-search {
    font-size: 25px;
    top:6px;
    right: 14px;
    color: $open-bg;
}

.nav.navmenu-nav,
.menu a { text-transform: uppercase; }
.menu a {
    color: $nav ;
    text-decoration: none;
    font-family: $exo;
    font-size: $menu-font;
    display: inline-block;
    padding: 11px 7px;
    padding-bottom: 15px;
}

.menu .activate { color: $red; font-weight: 700; background: #fff; }


.menu ul { padding: 0;margin: -1px; padding-top: 6px; text-align: center;overflow: hidden; }
.menu ul li { display: inline-block; }

.article-user {
    border: 1px solid $br;
    border-radius: 6px;
    margin-top: 20px;
    padding: 0 15px;
    & h1 {
        font-size: $exo18;
        line-height: 1.333;
        margin-top: -6px;
        padding: 0 20px;
        margin-bottom: 27px;
    }
}

.breadcrumb {
    background: none;
    padding-top: 20px;
    margin: 0;
    & a { color: $red;font-size: $exo14; }
    & a:hover { text-decoration: none; }
    & li { margin-left: -3px; }
}

.breadcrumb > li + li:before { padding-left: 0px;position: relative;left:3px;color: $red;}

.icon-sprite, .icon-comment, .icon-eye, .icon-rate {
  background: url('/images/icon-s7f22b8643e.png') no-repeat;
  display: inline-block;
  width: 16px;
  height: 10px;
  position: relative;
  left: -8px;

}

.icon-comment {
  background-position: 0 -10px;
  height: 11px;
  position: relative;
  top: 1px;
}

.icon-eye {
  background-position: 0 0;
  top: 1px;
    & em {top:-4px;left:19px;}
}

.icon-rate {
  background-position: 0 -22px;
}

.iconrate {
    margin: 15px 0; color: $nav;
    & em {
        position: absolute;
        top:-3px; left: 17px;
        font-style: normal;
        font-size: 12px;
    }
}
.iconrate span {margin-right: 35px;}
.iconrate span:last-child {margin-right: 0;}

.user-writer { padding: 14px 0; }
.user-writer .media-heading { font-size: $exo14; }
//.user-writer .media { padding: 0 58px; }
.user-writer .media .pull-left { margin: 0; }
.user-writer  { font-size: 10px; font-family: $sans; }
.descr { padding: 25px 0; line-height: 1.81; font-family: $sans; font-size: $sans14;
	& p:first-child { padding-bottom: 20px; }
}
//.block-img {margin: 18px 0; }
.descr-heading { padding: 30px 0; line-height: 1.81; font-family: $sans; font-size: $sans14;
	& h5 { font-family: $exo; font-size: 18px; }
	& .h-descr { font-size: $exo15; font-family: $exo; }
}

.img-margin { margin-bottom: 20px; }
.img-margin:last-child { margin-bottom: 0; }





.sb-search {
    position: relative;
    margin-top: -137px;
    width: 0%;
    min-width: 50px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    z-index: 5555;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}

.sb-search-input:-moz-placeholder {
    color: #efb480;
}

.sb-search-input::-moz-placeholder {
    color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;

}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    color:red;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    top:0;
//    background: #e67e22;
    z-index: 90;
    font-size: 22px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "";
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
//    background: $black;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
/*    z-index: 90;*/
}


#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


@media (min-width: 0) {
  .navbar-toggle {
    display: block;
  }
}

//@media (min-width: 992px) {
//  body {
//    padding: 0;
//  }
//  .navbar {
//    right: auto;
//    background: none;
//    border: none;
//  }
//}
